@import 'tailwindcss';

.bg-main {
    background-color: #020024;
    width: 100vw;
    height: 100vh;
    z-index: -11;
}

.primary-bg {
    background-color: #0d0c1d;
}

.secondary-bg {
    background-color: #1c1b29;
}

.text-primary {
    color: #e8e9f3;
}

.site-body {
    display: flex;
    justify-content: center;
    font-family: 'Orbitron', 'Roboto', 'Montserrat', sans-serif;
}

.min-h-3-4-screen {
    min-height: 83vh;
}

.grow {
    transition: all 0.2s ease-in-out;
}

.grow:hover {
    transform: scale(1.05);
}

.crosshair:hover {
    box-shadow: 0 0 0 5px #334155;
}
